.videoRecording__root {
  position: relative;
}

.videoRecording__root video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #333;
}

button.videoRecording__close {
  position: absolute;
  z-index: 1000;
  color: #fff;
  right: 0;
  top: 0;
}
